{% extends 'base.html' %}
{% load static %}
{% block title %}<title>TelNet</title>{% endblock %}
{% load filters %}
{% block import %}
{% endblock %}




{% block content %}



		<div class="card">

			<div class="card-header header-elements-inline bg-dark">
				<h6 class="card-title font-weight-semibold">Mvm</h6>
				<div class="header-elements">
					<div class="list-icons">
						<a class="list-icons-item" data-action="collapse"></a>
					</div>
				</div>
			</div>

      {% for mvm in mvm_exports %}
      <ul class="media-list media-list-linked media-list-bordered">
				<li class="media bg-light py-2">
					<div style="margin-right: auto;">	
         			<a href="media/{{ mvm.file }}">{{ mvm.name }}</a>
					</div>
					<div style="margin-left: auto;">		
					<a class="btn btn-danger" href="/export-mvm-delete/{{mvm.pk}}"> elimina </a>
					</div>
				</li>
			</ul>
      {% endfor %}

    </div>


		<div class="card">

			<div class="card-header header-elements-inline bg-dark">
				<h6 class="card-title font-weight-semibold">Sielte</h6>
				<div class="header-elements">
					<div class="list-icons">
						<a class="list-icons-item" data-action="collapse"></a>
					</div>
				</div>
			</div>

      {% for sielte in sielte_exports %}
      		<ul class="media-list media-list-linked media-list-bordered">
				<li class="media bg-light py-2">
          			<div style="margin-right: auto;">	
					<a href="media/{{ sielte.file }}">{{ sielte.name }}</a>
					</div>
					<div style="margin-left: auto;">	
		  			<a class="btn btn-danger" href="/export-sielte-delete/{{sielte.pk}}"> elimina </a>
					</div>
				</li>
			</ul>
      {% endfor %}

    </div>

{% endblock %}




