{% extends 'base.html' %}
{% load static %}
{% block title %}<title>TelNet</title>{% endblock %}
{% load filters %}
{% block import %}
<script src="{% static 'global_assets/js/plugins/uploaders/fileinput/plugins/purify.min.js' %}"></script>
<script src="{% static 'global_assets/js/plugins/uploaders/fileinput/plugins/sortable.min.js' %}"></script>
<script src="{% static 'global_assets/js/plugins/uploaders/fileinput/fileinput.min.js' %}"></script>

<script src="{% static 'global_assets/js/demo_pages/uploader_bootstrap.js' %}"></script>
{% endblock %}




{% block content %}


<div class="card-body">

  <form action="{% url 'upload mvm' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group row">
      <label class="col-lg-2 col-form-label font-weight-semibold">MVM:</label>
      <div class="col-lg-10">
        <input name="mvm-import" type="file" class="file-input" data-fouc>
      </div>
    </div>
  </form>
  <br><br><br><br>

  <form action="{% url 'upload sielte' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group row">
      <label class="col-lg-2 col-form-label font-weight-semibold">SIELTE:</label>
      <div class="col-lg-10">
        <input name="sielte-import" type="file" class="file-input" data-fouc>
      </div>
    </div>
  </form>
  <br><br><br><br>

  <form action="{% url 'upload mvm pdf' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group row">
      <label class="col-lg-2 col-form-label font-weight-semibold">MVM PDF:</label>
      <div class="col-lg-10">
        <input name="mvm-pdf" type="file" class="file-input" data-fouc>
      </div>
    </div>
  </form>

</div>


{% endblock %}
