{% extends 'base.html' %}
{% load static %}
{% load filters %}
{% block title %}<title>TelNet</title>{% endblock %}
{% block import %}
<script src="{% static 'global_assets/js/plugins/uploaders/fileinput/plugins/purify.min.js' %}"></script>
<script src="{% static 'global_assets/js/plugins/uploaders/fileinput/plugins/sortable.min.js' %}"></script>
<script src="{% static 'global_assets/js/plugins/uploaders/fileinput/fileinput.min.js' %}"></script>
<script src="{% static 'global_assets/js/demo_pages/uploader_bootstrap.js' %}"></script>
<script src="{% static 'global_assets/js/plugins/notifications/jgrowl.min.js' %}"></script>
<script src="{% static 'global_assets/js/plugins/notifications/noty.min.js' %}"></script>
{% endblock %}
{% block content %}



<div class="row">

            <div class="card col-xl-6" style="padding: 0px 0px 0px 0px;">

              <div class="card-header header-elements-inline bg-dark">
								<h6 class="card-title font-weight-semibold">Anagrafica</h6>
								<div class="header-elements">
									<div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
				          </div>
			          </div>
							</div>

							<ul class="media-list media-list-linked media-list-bordered">
								<li class="media bg-light py-2">
									<b>OCCORRENZE:</b>&nbsp; {{ mvm.occorrenze|default_if_none:"" }}
								</li>
							</ul>
							{% if request.user.role < 3 %}
							<ul class="media-list media-list-linked media-list-bordered">
								<li class="media bg-light py-2">
									<b>GUADAGNO:</b>&nbsp; {{ mvm.price|default_if_none:"" }}
								</li>
							</ul>
							{% endif %}

							{% if mvm.pdf_wr %}
							<ul class="media-list media-list-linked media-list-bordered">
								<li class="media bg-light py-2">
									<b>ALLEGATO:</b>&nbsp; <a href="/media/{{ mvm.pdf_wr }}"><i class="icon-file-pdf"></i></a>
								</li>
							</ul>
							{% endif %}



							<ul class="media-list media-list-linked media-list-bordered">
								<li class="media bg-light py-2">
                  <b>COD. CENTRALE:</b>&nbsp; {{ mvm.codicent|default_if_none:"" }}
                </li>
							</ul>

              <ul class="media-list media-list-linked media-list-bordered">
								<li class="media bg-light py-2">
                  <b>CENTRALE:</b>&nbsp; {{ mvm.desccent|default_if_none:"" }}
                </li>
							</ul>

              <ul class="media-list media-list-linked media-list-bordered">
								<li class="media bg-light py-2">
                  <b>WR:</b>&nbsp; {{ mvm.cod_wrid|default_if_none:"" }}
                </li>
							</ul>

              <ul class="media-list media-list-linked media-list-bordered">
								<li class="media bg-light py-2">
                  <b>NUMERO:</b>&nbsp; {{ mvm.numetele|default_if_none:"" }}
                </li>
							</ul>

              <ul class="media-list media-list-linked media-list-bordered">
								<li class="media bg-light py-2">
                  <b>RAGIONE SOCIALE:</b>&nbsp; {{ mvm.des_cogn|default_if_none:"" }}
                </li>
							</ul>

              <ul class="media-list media-list-linked media-list-bordered">
								<li class="media bg-light py-2">
                  <b>INDIRIZZO:</b>&nbsp; {{ mvm.des_indi|default_if_none:"" }}
                </li>
							</ul>

              <ul class="media-list media-list-linked media-list-bordered">
								<li class="media bg-light py-2">
                  <b>APPUNTAMENTO:</b>&nbsp; {{ mvm.appualle|default_if_none:"" }}
                </li>
							</ul>

              <ul class="media-list media-list-linked media-list-bordered">
								<li class="media bg-light py-2">
                  <b>TEMPO OBBIETTIVO:</b>&nbsp; {{ mvm.tempobbi|default_if_none:"" }}
                </li>
							</ul>

              <ul class="media-list media-list-linked media-list-bordered">
								<li class="media bg-light py-2">
                  <b>JOB TYPE:</b>&nbsp; {{ mvm.job_type|default_if_none:"" }}
                </li>
							</ul>

              <ul class="media-list media-list-linked media-list-bordered">
								<li class="media bg-light py-2">
                  <b>DESCRIZIONE JOB:</b>&nbsp; {{ mvm.desc_job|default_if_none:"" }}
                </li>
							</ul>

            </div>




            <div class="card col-xl-6" style="padding: 0px 0px 0px 0px;">

              <div class="card-header header-elements-inline bg-dark">
								<h6 class="card-title font-weight-semibold">Descrizione tecnica</h6>
								<div class="header-elements">
									<div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
				          </div>
			          </div>
							</div>

							<ul class="media-list media-list-linked media-list-bordered">
								<li class="media bg-light py-2">
                  <b>COD. GESTORE:</b>&nbsp; {{ mvm.codi_isp|default_if_none:"" }}
                </li>
							</ul>

              <ul class="media-list media-list-linked media-list-bordered">
								<li class="media bg-light py-2">
                  <b>GESTORE:</b>&nbsp; {{ mvm.desc_olo|default_if_none:"" }}
                </li>
							</ul>

              <ul class="media-list media-list-linked media-list-bordered">
								<li class="media bg-light py-2">
                  <b>GESTORE2:</b>&nbsp; {{ mvm.ref_cogn|default_if_none:"" }}
                </li>
							</ul>

              <ul class="media-list media-list-linked media-list-bordered">
								<li class="media bg-light py-2">
                  <b>GESTORE3:</b>&nbsp; {{ mvm.ref_nome|default_if_none:"" }}
                </li>
							</ul>

              <ul class="media-list media-list-linked media-list-bordered">
								<li class="media bg-light py-2">
                  <b>OPZIONE RICADUTA:</b>&nbsp; {{ mvm.prognazi|default_if_none:"" }}
                </li>
							</ul>

              <ul class="media-list media-list-linked media-list-bordered">
								<li class="media bg-light py-2">
                  <b>RIPETIZIONI:</b>&nbsp; {{ mvm.numeripe|default_if_none:"" }}
                </li>
							</ul>

              <ul class="media-list media-list-linked media-list-bordered">
								<li class="media bg-light py-2">
                  <b>NOTE TELNET:</b>&nbsp; {{ mvm.campo001|default_if_none:"" }}
                </li>
							</ul>

              <ul class="media-list media-list-linked media-list-bordered">
								<li class="media bg-light py-2">
                  <b>DTU:</b>&nbsp; {{ mvm.codi_dtu|default_if_none:"" }}
                </li>
							</ul>

              <ul class="media-list media-list-linked media-list-bordered">
								<li class="media bg-light py-2">
                  <b>NOTE IMPRESA:</b>&nbsp; {{ mvm.noteimpr|default_if_none:"" }}
                </li>
							</ul>

              <ul class="media-list media-list-linked media-list-bordered">
								<li class="media bg-light py-2">
                  <b>ANNOTAZIONE:</b>&nbsp; {{ mvm.annotazi|default_if_none:"" }}
                </li>
							</ul>

              <ul class="media-list media-list-linked media-list-bordered">
								<li class="media bg-light py-2">
                  <b>DESCR. PRATICA:</b>&nbsp; {{ mvm.desclavb|default_if_none:"" }}
                </li>
							</ul>

              <ul class="media-list media-list-linked media-list-bordered">
								<li class="media bg-light py-2">
                  <b>ZONA:</b>&nbsp; {{ mvm.zonacent|default_if_none:"" }}
                </li>
							</ul>


						</div>






						<div class="card col-xl-12" style="padding: 0px 0px 0px 0px;">

							<div class="card-header header-elements-inline bg-dark">
								<h6 class="card-title font-weight-semibold">Compilazione</h6>
								<div class="header-elements">
									<div class="list-icons">
										<a class="list-icons-item" data-action="collapse"></a>
									</div>
								</div>
							</div>
							<br>
							<div class="row">
							
							<div class="col-xl-6" style="padding: 4px 32px 32px 32px">
		
								{% if request.user.role < 3 %}
								<b>ASSEGNATO A:</b>&nbsp; {{ form.assigned_to|addclass:'form-control' }}<br><br>
								{% else %}
								<b>ASSEGNATO A:</b>&nbsp; {{ mvm.assigned_to|default_if_none:"" }}<br><br>
								{% endif %}

								<div class="form-group">
									<b>NOTE:</b>
									{{ form.note|addclass:'form-control' }}

									<br>
									<b>TIPO LINEA:</b>
                    {{ form.tipo_linea|addclass:'form-control' }}
									<br>

									<b>STATO LAVORO:</b>
										{{ form.status|addclass:'form-control' }}

									<div id="stato-lavoro-dynamic-group"></div>
									<div id="tipo-linea-dynamic-group"></div>

									<br>
											<b>SECONDARIA: </b>
									{{ form.secondaria|addclass:'form-control' }}


									<br>
										<b>DERIVATO: </b>
										{{ form.derivato|addclass:'form-control' }}

									<br>
										<b>PRESA: </b>
										{{ form.presa|addclass:'form-control' }}

									<br>
					</div>
					</div>

		<div class="col-xl-6" style="padding: 4px 32px 32px 32px">

									<b>CAVETTO:</b>
									{{ form.cavetto|addclass:'form-control' }}

									<br>
									<b>TIPOLOGIA MODEM:</b>
									{{ form.tipologia_modem|addclass:'form-control' }}

									<br>
									<b>SERIALE MODEM:</b>
									{{ form.seriale_modem|addclass:'form-control' }}
<br><br>

{% if uploaded_files %}

		<b>FILE CARICATI:</b>&nbsp; 
		<br><br>
		{% for f in uploaded_files %}
		<a href="/media/file_uploads_mvm/{{ f.name }}"><i class="icon-file-empty"></i></a>&nbsp; &nbsp; &nbsp;
		<a href="/file-mvm-delete/{{ mvm.pk }}/{{ f.pk }}">elimina</a>
		<br><br>
		{% endfor %}
{% endif %}

<br><br>


										<div class="form-group row">
											<label class="col-lg-2 col-form-label font-weight-semibold">CARICA FILE:</label>
											<div class="col-lg-10">
												<input multiple="multiple" name="mvm-upload"  data-show-upload="false" type="file" class="file-input" id="file-input" data-fouc>
											</div>
										</div>


									<input id="id" name="id" type="hidden" value="{{ mvm.pk }}">
								</div>
								<button class="bg-teal-400 btn-primary btn" id="ticket-submit" style="margin: 0px 0px 10px 20px"> Salva </button>
						</div>


					
				<!-- /linked list headers -->

</div>

<script>


  $('#ticket-submit').click( function(){
    console.log("FILES: "+$('#file-input').prop('files'));
	files = $('#file-input').prop('files');
	status = $('#id_status option:selected').val();
	tipo_linea = $('#id_tipo_linea option:selected').val();
	secondaria = $('#id_secondaria').val();
	derivato = $('#id_derivato').val();
	cavetto = $('#id_cavetto option:selected').val();

    Noty.overrideDefaults({
            theme: 'limitless',
            layout: 'topRight',
            type: 'alert',
            timeout: 2500
        });
	
	console.log(cavetto)
	console.log(derivato)
	console.log(secondaria)
	

	if( cavetto == '' || derivato == 0 || secondaria == '' || tipo_linea == '' || $('#rl').val() == ''){    
        new Noty({
            text: 'Inserisci i campi correttamente',
            type: 'warning'
        }).show();
		return;
	}

	console.log(files);

    $.ajax({
        headers: {'X-CSRFToken': '{{ csrf_token }}'},
        type: "POST",
        url: "/save-mvm-ticket",
        data: {
			'pk': "{{ mvm.pk }}",
			'assigned_to': $('#id_assigned_to option:selected').val(),
			'note': $('#id_note').text(),
			'tipo_linea': tipo_linea,
			'status': status,
			'secondaria': secondaria,
			'derivato': derivato,
			'presa': $('#id_presa').text(),
			'cavetto': cavetto,
			'tipologia_modem': $('#id_tipologia_modem option:selected').text(),
			'seriale_modem': $('#id_seriale_modem').text(),
			'motivo_ko': $('#ko-form option:selected').text(),
			'msan': $('#msan').text(),
			'rete_rigida': $('#rete-rigida-form option:selected').text(),
			'cavo': $('#cavo').text(),
			'colonna': $('#colonna').text(),
			'rl': $('#rl').text(),
			'porta': $('#porta').text(),
			
		},
        success: function(data){
            console.log('success');
            new Noty({
            text: 'Ticket salvato',
            type: 'success'
        }).show();
        },
        failure: function(data){
            console.log("FAIL");
            console.log(data);
        },
    });


    
  });



function generate_tipo_linea_form(){
	var data= $('#id_tipo_linea').val();
	console.log(data);
	$("#tipo-linea-dynamic-group").empty();
	$("#tipo-linea-dynamic-group-resume").empty();

	if (data == 'TRADIZIONALE'){
		$("#tipo-linea-dynamic-group").append("<br><div class=\"form-group\"><label class=\"col-form-label\"><b>MSAN: </b></label><div class=\"col-lg-10\"><input id=\"msan\" type=\"text\" class=\"form-control\" name=\"msan\"></div></div>");
		$("#tipo-linea-dynamic-group").append("<b>RETE RIGIDA:</b>");
		$("#tipo-linea-dynamic-group").append("<select id=\"rete-rigida-form\" class=\"form-control\" name=\"rete-rigida\">");
		$("#rete-rigida-form").append("<option value=\"SI\">SI</option>");
		$("#rete-rigida-form").append("<option value=\"NO\">NO</option>");
		$("#rete-rigida-form").append("</select>");
		$("#tipo-linea-dynamic-group").append("<br><div class=\"form-group\"><label class=\"col-form-label\"><b>CAVO/CP-CAVO: </b></label><div class=\"col-lg-10\"><input id=\"cavo\" type=\"text\" class=\"form-control\" name=\"cavo\"></div></div>");
		$("#tipo-linea-dynamic-group").append("<br><div class=\"form-group\"><label class=\"col-form-label\"><b>COLONNA/CP-COLONNA: </b></label><div class=\"col-lg-10\"><input id=\"colonna\" type=\"text\" class=\"form-control\" name=\"colonna\"></div></div>");
		$("#tipo-linea-dynamic-group").append("<br><div class=\"form-group\"><label class=\"col-form-label\"><b>RL/CP-RL: </b></label><div class=\"col-lg-10\"><input id=\"rl\" type=\"text\" class=\"form-control\" name=\"rl\"></div></div>");


		$("#tipo-linea-dynamic-group-resume").append("<br><b>MSAN: </b>&nbsp;{% if mvm.msan %}{{ mvm.msan }}{% endif %}");
		$("#tipo-linea-dynamic-group-resume").append("<br><b>RETE RIGIDA:</b>&nbsp;{% if mvm.rete_rigida %}{{ mvm.rete_rigida }}{% endif %}");
		$("#tipo-linea-dynamic-group-resume").append("<br><b>CAVO/CP-CAVO: </b>&nbsp;{% if mvm.cavo_cp_cavo %}{{ mvm.cavo_cp_cavo }}{% endif %}");
		$("#tipo-linea-dynamic-group-resume").append("<br><b>COLONNA/CP-COLONNA: </b>&nbsp;{% if mvm.colonna_cp_colonna %}{{ mvm.colonna_cp_colonna }}{% endif %}");
		$("#tipo-linea-dynamic-group-resume").append("<br><b>RL/CP-RL: </b>&nbsp;{% if mvm.rl_cp_rl %}{{ mvm.rl_cp_rl }}{% endif %}");

	}else if (data == 'FIBRA') {
		$("#tipo-linea-dynamic-group").append("<br><div class=\"form-group\"><label class=\"col-form-label\"><b>RL: </b></label><div class=\"col-lg-10\"><input id=\"rl\" type=\"text\" class=\"form-control\" name=\"rl\"></div></div>");
		$("#tipo-linea-dynamic-group").append("<br><div class=\"form-group\"><label class=\"col-form-label\"><b>PORTA: </b></label><div class=\"col-lg-10\"><input id=\"porta\" type=\"text\" class=\"form-control\" name=\"porta\"></div></div>");
		$("#tipo-linea-dynamic-group-resume").append("<br><b>RL: </b>&nbsp;{% if mvm.rl %}{{ mvm.rl }}{% endif %}");
		$("#tipo-linea-dynamic-group-resume").append("<br><b>PORTA: </b> &nbsp;{% if mvm.porta %}{{ mvm.porta }}{% endif %}");
	}
}


function generate_stato_lavoro_form(){
	var data= $('#id_status').val();
	console.log(data);
	$("#stato-lavoro-dynamic-group").empty();
	$("#stato-lavoro-dynamic-group-resume").empty();

	if (data == 'KO'){
		$("#stato-lavoro-dynamic-group").append("<br><b>MOTIVO KO:</b>");
		$("#stato-lavoro-dynamic-group").append("<select id=\"ko-form\" class=\"form-control\" name=\"motivo-ko\">");
		$("#ko-form").append("<option value=\"TUBAZIONE-A14\">TUBAZIONE PRIVATA A14</option>");
		$("#ko-form").append("<option value=\"TUBAZIONE-A24\">TUBAZIONE PRIVATA A24</option>");
		$("#ko-form").append("<option value=\"CLT-IRREPERIBILE\">CLT IRREPERIBILE</option>");
		$("#ko-form").append("<option value=\"RINUNCIA\">RINUNCIA</option>");
		$("#ko-form").append("<option value=\"GENERICO\">ECC. DISTANZA / GENERICO</option>");
		$("#ko-form").append("</select>");
		$("#stato-lavoro-dynamic-group-resume").append("<br><b>MOTIVO KO:</b>&nbsp;{% if mvm.ko_reason %}{{ mvm.ko_reason }}{% endif %}");
	}
}

$(function() {
    generate_tipo_linea_form();
		generate_stato_lavoro_form();
		$("#ko-form").val("{{mvm.ko_reason}}");
		$("#cavo").val("{{mvm.cavo_cp_cavo}}");
		$("#msan").val("{{mvm.msan}}");
		$("#rete-rigida-form select").val("{{mvm.rete_rigida}}");
		$("#colonna").val("{{mvm.colonna_cp_colonna}}");
		$("#rl").val("{{mvm.rl_cp_rl}}");
		$("#porta").val("{{mvm.porta}}");


});
$('#id_tipo_linea').change(function(){generate_tipo_linea_form()});
$('#id_status').change(function(){generate_stato_lavoro_form()});

	</script>


<script>
var modalTemplate = '<div class="modal-dialog modal-lg" role="document">\n' +
            '  <div class="modal-content">\n' +
            '    <div class="modal-header align-items-center">\n' +
            '      <h6 class="modal-title">{heading} <small><span class="kv-zoom-title"></span></small></h6>\n' +
            '      <div class="kv-zoom-actions btn-group">{toggleheader}{fullscreen}{borderless}{close}</div>\n' +
            '    </div>\n' +
            '    <div class="modal-body">\n' +
            '      <div class="floating-buttons btn-group"></div>\n' +
            '      <div class="kv-zoom-body file-zoom-content"></div>\n' + '{prev} {next}\n' +
            '    </div>\n' +
            '  </div>\n' +
            '</div>\n';


        // Buttons inside zoom modal
        var previewZoomButtonClasses = {
            toggleheader: 'btn btn-light btn-icon btn-header-toggle btn-sm',
            fullscreen: 'btn btn-light btn-icon btn-sm',
            borderless: 'btn btn-light btn-icon btn-sm',
            close: 'btn btn-light btn-icon btn-sm'
        };

        // Icons inside zoom modal classes
        var previewZoomButtonIcons = {
            prev: '<i class="icon-arrow-left32"></i>',
            next: '<i class="icon-arrow-right32"></i>',
            toggleheader: '<i class="icon-menu-open"></i>',
            fullscreen: '<i class="icon-screen-full"></i>',
            borderless: '<i class="icon-alignment-unalign"></i>',
            close: '<i class="icon-cross2 font-size-base"></i>'
        };

        // File actions
        var fileActionSettings = {
            zoomClass: '',
            zoomIcon: '<i class="icon-zoomin3"></i>',
            dragClass: 'p-2',
            dragIcon: '<i class="icon-three-bars"></i>',
            removeClass: '',
            removeErrorClass: 'text-danger',
            removeIcon: '<i class="icon-bin"></i>',
			removeLabel: 'Cancella',
            uploadLabel: 'Carica',
            indicatorNew: '<i class="icon-file-plus text-success"></i>',
            indicatorSuccess: '<i class="icon-checkmark3 file-icon-large text-success"></i>',
            indicatorError: '<i class="icon-cross2 text-danger"></i>',
            indicatorLoading: '<i class="icon-spinner2 spinner text-muted"></i>'
        };

$('.file-input').fileinput({
			dropZoneTitle:"Trascina con il mouse per caricare",
            browseLabel: 'Cerca',
            browseIcon: '<i class="icon-file-plus mr-2"></i>',
            uploadIcon: '<i class="icon-file-upload2 mr-2"></i>',
            removeIcon: '<i class="icon-cross2 font-size-base mr-2"></i>',
			removeLabel: 'Cancella',
            uploadLabel: 'Carica',
            layoutTemplates: {
                icon: '<i class="icon-file-check"></i>',
                modal: modalTemplate
            },
            initialCaption: "Nessun file selezionato",
            previewZoomButtonClasses: previewZoomButtonClasses,
            previewZoomButtonIcons: previewZoomButtonIcons,
            fileActionSettings: fileActionSettings
        });
</script>
{% endblock %}
