<div class="col-md-6">
	<div class="card">
		<div class="card-header {% if ticket.status == 'OK' %} bg-success {% endif %}
      		{% if ticket.status == 'KO' %} bg-danger {% endif %}
      		{% if ticket.status == 'SOSPESO' %} bg-secondary {% endif %}
      		{% if ticket.status == 'ANNULLATO' %} bg-warning {% endif %} text-white header-elements-inline" style="height: 35px;">
			<h6 class="card-title"> {{ ticket.status }}</h6>
		</div>
		<h5 class="font-weight-semibold mb-1" style="margin: 14px 0px 0px 14px;">
		<a href="#" class="text-default" style="margin: 0px 0px 0px 10px;">{{ ticket.job_type|default_if_none:"" }} {% if ticket.desc_job %} | {% endif %}  {{ ticket.desc_job|default_if_none:"" }}</a>
		</h5>

			<div class="btn-group" style="width:35px; height: 35px; position: absolute; right: 4px;">
			<button type="button" class="btn bg-slate dropdown-toggle" data-toggle="dropdown"></button>
			<div class="dropdown-menu dropdown-menu-right">
				<a href="/mvm-ticket/{{ ticket.pk }}" class="dropdown-item"><i class="icon-eye"></i> Apri</a>
			</div>
		</div>

		<div class="card card-body bg-light" style="margin: 10px;" >
			<div>





							
			</div>

			<ul class="list list-unstyled mb-0">
				<li><b>Telefono: </b> &nbsp;{{ ticket.numetele|default_if_none:"" }}</li>
				<li><b>Cliente: </b>{{ ticket.des_cogn|default_if_none:"" }}</li>
				<li><b>INDIRIZZO: </b>{{ ticket.des_indi|default_if_none:"" }}</li>
				<li><b>OCCORRENZE: </b>{{ ticket.occorrenze|default_if_none:"" }}</li>
				<li><b>DATA: </b>{{ ticket.datainiz|default_if_none:"" }}</li>
				<li><b>TEMPO OBBIETTIVO: </b>{{ ticket.tempobbi|default_if_none:"" }}</li>
			</ul>								
		
		



		








		</div>
		
		
	</div>


								
</div>