<div class="col-md-6">

	<div class="card">

		<div class="card-header
			{% if ticket.status == 'OK' %} bg-success {% endif %}
      		{% if ticket.status == 'KO' %} bg-danger {% endif %}
      		{% if ticket.status == 'SOSPESO' %} bg-secondary {% endif %}
      		{% if ticket.status == 'ANNULLATO' %} bg-warning {% endif %}
			{% if ticket.status == 'DA LAVORARE' %} bg-info {% endif %}
			
			  text-white header-elements-inline" style="height: 35px;">
			<h6 class="card-title"> {{ ticket.status }}</h6>
		</div>

		<h5 class="font-weight-semibold mb-1" style="margin: 14px 0px 0px 14px;">
		<a href="/sielte-ticket/{{ ticket.pk }}" class="text-default" style="margin: 0px 0px 0px 10px;">{{ ticket.attivita|default_if_none:"" }} {% if ticket.descrizione_tipologia_pratica|default_if_none:"" %} | {% endif %}  {{ ticket.descrizione_tipologia_pratica|default_if_none:""|default_if_none:"" }}</a>
		</h5>

		<div class="btn-group" style="position: absolute; right: 0px;">
			<button type="button" class="btn bg-white dropdown-toggle" data-toggle="dropdown"></button>
			<div class="dropdown-menu dropdown-menu-right">
				<a href="/sielte-ticket/{{ ticket.pk }}" class="dropdown-item"><i class="icon-eye"></i> Apri</a>
			</div>
		</div>

		<div class="card card-body bg-light" style="margin: 10px;" >
			<ul class="list list-unstyled mb-0">
				<li><b>Telefono: </b> &nbsp; {% if ticket.telefono_cliente_1 %}{{ ticket.telefono_cliente_1|default_if_none:"" }}{% endif %} {% if not ticket.telefono_cliente_1 and ticket.telefono_cliente_2 %}{{ ticket.telefono_cliente_2|default_if_none:"" }}{% endif %}</li>
				<li><b>Cliente: </b>{{ ticket.nome|default_if_none:"" }}</li>
				<li><b>INDIRIZZO: </b>{{ ticket.indirizzo|default_if_none:"" }}</li>
				<li><b>OCCORRENZE: </b>{{ ticket.occorrenze|default_if_none:"" }}</li>
				<li><b>DATA: </b>{{ ticket.data_inizio_appuntamento|default_if_none:"" }}</li>
				<li><b>SCADENZA: </b>{{ ticket.data_scadenza|default_if_none:"" }}</li>
			</ul>								
		</div>

	</div>
	
</div>