<tr>
	<td><a href="/mvm-ticket/{{ ticket.pk }}">MVM</a></td>
	<td>{{ ticket.desccent }}</td>
	<td>{{ ticket.cod_wrid|default_if_none:"" }}</td>
	<td>{{ ticket.numetele|default_if_none:"" }}</td>
	<td>{{ ticket.des_cogn|default_if_none:"" }}</td>
	<td>{{ ticket.des_indi|default_if_none:"" }}</td>
	<td>{{ ticket.appualle|default_if_none:"" }}</td>
	<td>{{ ticket.tempobbi|default_if_none:"" }}</td>
	<td>{{ ticket.job_type|default_if_none:"" }}</td>
	<td>{{ ticket.desc_job|default_if_none:"" }}</td>
	<td>{{ ticket.status|default_if_none:"" }}</td>
</tr>
