{% extends 'base.html' %}
{% load static %}
{% load filters %}
{% block title %}<title>TelNet</title>{% endblock %}
{% block import %}
<script src="{% static 'global_assets/js/plugins/forms/styling/switchery.min.js' %}"></script>
<script src="{% static 'global_assets/js/demo_pages/task_manager_grid.js' %}"></script>
<script src="{% static 'global_assets/js/plugins/ui/moment/moment.min.js' %}"></script>
<script src="{% static 'global_assets/js/plugins/pickers/daterangepicker.js' %}"></script>
<script src="{% static 'global_assets/js/demo_pages/picker_date.js' %}"></script>
<script src="{% static 'global_assets/js/plugins/notifications/jgrowl.min.js' %}"></script>
<script src="{% static 'global_assets/js/plugins/notifications/noty.min.js' %}"></script>

{% endblock %}

{% block content %}



{% include 'search_tickets.html' with date=date %}


				<div class="row">

                    <div class="col-sm-6 col-xl-3">
						<div class="card card-body bg-success-400 has-bg-image">
							<div class="media">
								<div class="media-body">
									<h3 class="mb-0">{{ ok }}</h3>
									<span class="text-uppercase font-size-xs">OK</span>
								</div>

								<div class="ml-3 align-self-center">
									<i class="icon-check icon-3x opacity-75"></i>
								</div>
							</div>
						</div>
					</div>




					<div class="col-sm-6 col-xl-3">
						<div class="card card-body bg-warning-400 has-bg-image">
							<div class="media">
								<div class="media-body">
									<h3 class="mb-0">{{ ko }}</h3>
									<span class="text-uppercase font-size-xs">KO</span>
								</div>

								<div class="ml-3 align-self-center">
									<i class="icon-close2 icon-3x opacity-75"></i>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-6 col-xl-3">
						<div class="card card-body bg-grey-400 has-bg-image">
							<div class="media">
								<div class="media-body">
									<h3 class="mb-0">{{ sospesi }}</h3>
									<span class="text-uppercase font-size-xs">SOSPESI</span>
								</div>

								<div class="ml-3 align-self-center">
									<i class="icon-hour-glass2 icon-3x opacity-75"></i>
								</div>
							</div>
						</div>
					</div>

					
					<div class="col-sm-6 col-xl-3">
						<div class="card card-body bg-danger-400 has-bg-image">
							<div class="media">
								<div class="media-body">
									<h3 class="mb-0">{{ annullati }}</h3>
									<span class="text-uppercase font-size-xs">ANNULLATI</span>
								</div>

								<div class="ml-3 align-self-center">
									<i class="icon-undo2 icon-3x opacity-75"></i>
								</div>
							</div>
						</div>
					</div>
				</div>

        

<div class="row" style="margin: 0px 0px 20px 0px"">
<ul class="pagination align-self-center" style="margin: 0px auto;">
								<li class="page-item"><a href="/lista-ticket/{{ page_current|add:"-1"}}" class="page-link">&larr; &nbsp; Indietro</a></li>
								{% for page in pages%}
                <li class="page-item{% if page == page_current %} active{% endif %}"><a href="/lista-ticket/{{page}}" class="page-link">{{ page }}</a></li>
                {% endfor %}
								<li class="page-item"><a href="/lista-ticket/{{ page_current|add:"1"}}" class="page-link">Avanti &nbsp; &rarr;</a></li>
							</ul>
</div>
<div class="row">

  				<!-- Inner container -->
  				<div class="d-flex align-items-start flex-column flex-md-row" style="width: 100%">

  					<!-- Left content -->
  					<div class="w-100 order-2 order-md-1">

  						<!-- Task grid -->
              <div class="row">
              {% for item in tickets %}

                  {% if item|get_class == 'MvmImport' %}
                    {% include 'mvm_ticket_preview.html' with ticket=item %}
                  {% endif %}

                  {% if item|get_class == 'SielteImport' %}
                    {% include 'sielte_ticket_preview.html' with ticket=item %}
                  {% endif %}

                  {% if forloop.counter|divisibleby:2 %}
              </div>
              <div class="row">
                  {% endif %}
              {% endfor %}
              </div>

  						<!-- /task grid -->


  					</div>
  					<!-- /left content -->
          

  				</div>
  				        <ul class="pagination align-self-center" style="margin: 0px auto;">
								<li class="page-item"><a href="/lista-ticket/{{ page_current|add:"-1"}}" class="page-link">&larr; &nbsp; Indietro</a></li>
								{% for page in pages%}
                <li class="page-item{% if page == page_current %} active{% endif %}"><a href="/lista-ticket/{{page}}" class="page-link">{{ page }}</a></li>
                {% endfor %}
								<li class="page-item"><a href="/lista-ticket/{{ page_current|add:"1"}}" class="page-link">Avanti &nbsp; &rarr;</a></li>
							</ul>
</div>

{% endblock %}
