<tr>
	<td><a href="/sielte-ticket/{{ ticket.pk }}">SIELTE</a></td>
	<td>{{ ticket.descrizione_centrale|default_if_none:"" }}</td>
	<td>{{ ticket.cod_wr_committente|default_if_none:"" }}</td>
	<td>{{ ticket.impianto|default_if_none:"" }}</td>
	<td>{{ ticket.nome|default_if_none:"" }}</td>
	<td>{{ ticket.indirizzo|default_if_none:"" }}</td>
	<td>{{ ticket.data_inizio_appuntamento|default_if_none:"" }}</td>
	<td>{{ ticket.data_scadenza|default_if_none:"" }}</td>
	<td>{{ ticket.descrizione_tipologia_pratica|default_if_none:"" }}</td>
	<td>{{ ticket.descrizione_pratica|default_if_none:"" }}</td>
	<td>{{ ticket.status|default_if_none:"" }}</td>
</tr>
