{% extends 'base.html' %}
{% load static %}
{% load filters %}
{% block title %}<title>TelNet</title>{% endblock %}
{% block import %}
<script src="{% static 'global_assets/js/plugins/forms/styling/switchery.min.js' %}"></script>
<script src="{% static 'global_assets/js/demo_pages/task_manager_grid.js' %}"></script>
<script src="{% static 'global_assets/js/plugins/ui/moment/moment.min.js' %}"></script>
<script src="{% static 'global_assets/js/plugins/pickers/daterangepicker.js' %}"></script>
<script src="{% static 'global_assets/js/demo_pages/picker_date.js' %}"></script>
<script src="{% static 'global_assets/js/plugins/notifications/jgrowl.min.js' %}"></script>
<script src="{% static 'global_assets/js/plugins/notifications/noty.min.js' %}"></script>
<script src="{% static 'global_assets/js/plugins/ui/fab.min.js' %}"></script>

{% endblock %}

{% block content %}



{% include 'search_tickets.html' with date=date %}



<div class="row" style="margin: 0px 0px 20px 0px">

<div class="pages-container w-100" style="margin: 0px auto;">
<div class="card">
<div class="card-body align-self-center">

<ul class="pagination align-self-center" style="margin: 0px auto;">
	<li class="page-item"><a href="#" class="page-link prev">&larr;</a></li>
	{% for page in pages%}
  <li class="page-item{% if page == page_current %} active{% endif %}"><a  href="#" onclick="getPage({{page}})" class="page-link">{{ page }}</a></li>
  {% endfor %}
	<li class="page-item"><a href="#" class="page-link next">&rarr;</a></li>
</ul>

</div>
</div>
</div>
</div>


<div class="row" style="margin-right: 0px;margin-left: 0px;">

  				<!-- Inner container -->
  				<div class="d-flex align-items-start flex-column flex-md-row" style="width: 100%">

  					<!-- Left content -->
  					<div class="w-100 order-2 order-md-1">

  						<!-- Task grid -->
              <div class="row">
              {% for item in tickets %}

                  {% if item|get_class == 'MvmImport' %}
                    {% include 'mvm_ticket_preview.html' with ticket=item %}
                  {% endif %}

                  {% if item|get_class == 'SielteImport' %}
                    {% include 'sielte_ticket_preview.html' with ticket=item %}
                  {% endif %}

                  {% if forloop.counter|divisibleby:2 %}
              </div>
              <div class="row">
                  {% endif %}
              {% endfor %}
              </div>

  						<!-- /task grid -->


  					</div>
  					<!-- /left content -->
          

  				</div>
  				        <div class="pages-container w-100" style="margin: 0px auto;">
<div class="card">
<div class="card-body align-self-center">

<ul class="pagination align-self-center" style="margin: 0px auto;">
								<li class="page-item previous"><a class="page-link prev">&larr;</a></li>
								{% for page in pages%}
                <li class="page-item{% if page == page_current %} active{% endif %}"><a href="#" onclick="getPage({{page}})" class="page-link">{{ page }}</a></li>
                {% endfor %}
								<li class="page-item next"><a  class="page-link next">&rarr;</a></li>
							</ul>
</div>
</div>
</div>

</div>

<script>

$('.next').on('click', function(){
  var pcurr = {{ page_current | add:"1"}};
  var pages = {{ pages_total }};

  console.log(pcurr);
  console.log(pages);

  if (pcurr <= pages ){
    window.location.href = "/lista-ticket/"+{{ page_current | add:"1"}}+location.search ;
  }
});

$('.prev').on('click', function(){
  var pcurr = {{ page_current | add:"-1"}};
  console.log(pcurr)
  if (pcurr > 0 ){
    window.location.href = "/lista-ticket/"+{{ page_current | add:"-1"}}+location.search ;
  }
});

function getPage(page){
  var pcurr = {{ page_current | add:"1"}};
  var pages = {{ pages_total }}
  console.log("AO pcurr "+pcurr+"PAGES "+pages)

  if (pcurr > 0 && pcurr <= pages+1){
    window.location.href = "/lista-ticket/"+page+location.search ;
  }
}


</script>


<style>


.pages-container{
    width: 50%;
}

@media (max-width: 800px) {
  .pages-container{
    width: 100%;
  }

}


</style>


{% endblock %}
