{% load static %}

<!DOCTYPE html>
<html lang="it">
<head>
	<meta charset="utf-8">
	{% block title %}{% endblock %}
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="{% static 'global_assets/css/icons/icomoon/styles.min.css' %}"  rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/bootstrap.min.css' %}"  rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/bootstrap_limitless.min.css' %}"  rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/layout.min.css' %}"  rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/components.min.css' %}"  rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/colors.min.css' %}"  rel="stylesheet" type="text/css">


	<script src="{% static 'global_assets/js/main/jquery.min.js' %}"></script>
	<script src="{% static 'global_assets/js/main/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'global_assets/js/plugins/loaders/blockui.min.js' %}"></script>
	<script src="{% static 'assets/js/app.js' %}"></script>

	<script src="{% static 'global_assets/js/plugins/extensions/jquery_ui/interactions.min.js' %}"></script>
	<script src="{% static 'global_assets/js/plugins/forms/selects/select2.min.js' %}"></script>
	<script src="{% static 'global_assets/js/demo_pages/form_select2.js' %}"></script>



	<meta name="theme-color" content="#324148" />
	{% block import %}{% endblock %}

	<!-- /theme JS files -->

</head>
<body>

	{% block navbar %}
		{% include "main_navbar.html" %}
	{% endblock %}

	<!-- Page content -->
	<div class="page-content">

		{% block sidebar %}
			{% include "main_sidebar.html" %}
		{% endblock %}

		<!-- Main content -->
		<div class="content-wrapper">
			{% block header %}
				{% include "page_header.html" %}
			{% endblock %}
			
			<!-- Content area -->
			<div class="content">
				{% block content %}

      	{% endblock %}
			</div>
			<!-- /content area -->


			{% block footer %}
				{% include "footer.html" %}
			{% endblock %}

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->

</body>
</html>
