<!-- Top component -->
				<div class="mb-3">
					<div class="page-header page-header-light" style="margin-bottom: 0;">
						
						<div class="page-header-content header-elements-md-inline d-flex justify-content-between bg-dark" style="height: 52px;">
							
							<div class="page-title" style="padding: 12px 0;position: relative;">
								<h5>
									<span class="font-weight-semibold" >{{ subtext }}</span> 
								</h5>
							</div>
							
							<div style="margin: auto 0px">
							<a href="#" class="breadcrumb-elements-item dropdown-toggle" data-toggle="dropdown">
											<i class="icon-gear mr-2"></i>
											Impostazioni
										</a>

										<div class="dropdown-menu dropdown-menu-right">
											{% if request.user.role < 3%}<a href="/admin" class="dropdown-item"><i class="icon-user-lock"></i> Admin</a>
											<div class="dropdown-divider"></div>{% endif %}
											<a href="/logout" class="dropdown-item"><i class="icon-logout"></i>Log out</a>
											
										</div>
							</div>

						</div>
					</div>
				</div>
				<!-- /top component -->

