<!-- Top component -->
				<div class="mb-3 border-top-1 border-top-primary">
					<div class="page-header page-header-light" style="border-left: 1px solid #ddd; border-right: 1px solid #ddd; margin-bottom: 0;">
						
						<div class="page-header-content header-elements-md-inline d-flex justify-content-between" >
							
							<div class="page-title">
								<h5>
									<span class="font-weight-semibold">{{ subtext }}</span> 
								</h5>
							</div>
							
							<div style="margin: auto 0px">
							<a href="#" class="breadcrumb-elements-item dropdown-toggle" data-toggle="dropdown">
											<i class="icon-gear mr-2"></i>
											Impostazioni
										</a>

										<div class="dropdown-menu dropdown-menu-right">
											<a href="/admin" class="dropdown-item"><i class="icon-user-lock"></i> Admin</a>
											<div class="dropdown-divider"></div>
											<a href="/logout" class="dropdown-item"><i class="icon-logout"></i>Log out</a>
											
										</div>
							</div>

						</div>
					</div>
				</div>
				<!-- /top component -->

