<!-- Top component -->
				<div class="mb-3 border-top-1 border-top-primary">
					<div class="page-header page-header-light pt-3" style="border-left: 1px solid #ddd; border-right: 1px solid #ddd; margin-bottom: 0;">
						<div class="breadcrumb-line breadcrumb-line-light breadcrumb-line-component header-elements-md-inline">
							<div class="d-flex">
								<div class="breadcrumb">
									<a href="index.html" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> {{ title }}</a>
								</div>

								<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
							</div>

							<div class="header-elements d-none">
								<div class="breadcrumb justify-content-center">

									<div class="breadcrumb-elements-item dropdown p-0">
										<a href="#" class="breadcrumb-elements-item dropdown-toggle" data-toggle="dropdown">
											<i class="icon-gear mr-2"></i>
											Impostazioni
										</a>

										<div class="dropdown-menu dropdown-menu-right">
											<a href="/admin" class="dropdown-item"><i class="icon-user-lock"></i> Admin</a>
											<div class="dropdown-divider"></div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="page-header-content header-elements-md-inline">
							<div class="page-title">
								<h5>
									<span class="font-weight-semibold">{{ subtext }}</span> 
								</h5>
							</div>

							
						</div>
					</div>
				</div>
				<!-- /top component -->

