{% load filters %}

<div class="navbar navbar-expand-lg navbar-light navbar-component rounded" >
  <div class="text-center d-lg-none w-100">
    <button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-filter">
      <i class="icon-unfold mr-2"></i>
      Filtra ricerca
    </button>
  </div>

  <div class="navbar-collapse collapse" id="navbar-filter" style="padding: 20px;">



  <div>
    <form method="GET" action="{% url 'search tickets' %}" style="display: flex; flex-flow: row wrap;" class="form-inline">
  <div class="form-group row w-100">
      <div class="input-group col-md-4 d-flex flex-column">
        <a><b>Data:</b></a>
        
        <div style="display: flex">
        <span class="input-group-prepend">
          <span class="input-group-text"><i class="icon-calendar22"></i></span>
        </span>
        <input id="daterange" name="date" type="text" class="form-control daterange-basic w-100" value="{{ date }}">
        </div>
      </div>

          <div class="input-group col-md-4 d-flex flex-column">
            <a><b>Cerca parola:</b></a>
            {{ form.text|addclass:'form-control w-100' }}
          </div>

          <div class="input-group col-md-4 d-flex flex-column">
          {% if request.user.role < 3 %}
          <a><b>Utente:</b></a>
            {{ form.user|addclass:'form-control w-100' }}
          
          {% endif %}
          </div>

        </div>

        <div class="form-group row w-100 " style="padding: 10px 0px 0px 0px;">
          <div class="input-group col-md-4 d-flex flex-column" >
            <a><b>Stato:</b></a>
            {{ form.status|addclass:'form-control w-100' }}
          </div>

          <div class="input-group col-md-4  d-flex flex-column">
            <a><b>Azienda:</b></a>
            {{ form.company|addclass:'form-control w-100' }}
          </div>

          

            </div>
          
          
          <div class="form-group row w-100 justify-content-end">
          <div class="input-group col-md-1 justify-content-end">
            {% if request.user.role < 3 %}
          <button type="button" class="btn btn-secondary" id="export">Export</button>
          {% endif %}
          </div>
          <div class="input-group col-md-1 justify-content-end">
            <button class="bg-teal-400 btn-primary btn" type="submit"> Cerca </button>
          </div>
          </div>
    </form>
  </div>

  </div>
</div>
<!-- /filter toolbar -->

<script>
$('#export').click(function(){
  daterange = $('#daterange').val();
  text = $('#id_text').val();
  status = $('#id_status').val();
  company = $('#id_company').val()

  Noty.overrideDefaults({
            theme: 'limitless',
            layout: 'topRight',
            type: 'alert',
            timeout: 2500
        });

  $.ajax({
        type: "GET",
        url: "/export-tickets",
        data: {'daterange': daterange, 'text': text, 'status': status, 'company': company},
        success: function(data){
            console.log('success');
            new Noty({
                text: 'Puoi trovare il risultato nella sezione Export',
                type: 'success'
            }).show();
            
        },
        failure: function(data){
            console.log("FAIL");
            
        },
    });
});


 $(function() {
    $("#daterange").daterangepicker(
        {
            startDate: "{{ start_date }}",
            endDate: "{{ end_date }}",
            locale: {
                format: "DD/MM/YYYY",
                separator: " - ",
                applyLabel: "Applica",
                cancelLabel: "Cancella",
                fromLabel: "Da",
                toLabel: "A",
                customRangeLabel: "Custom",
                daysOfWeek: [
                    "Do",
                    "Lu",
                    "Ma",
                    "Me",
                    "Gi",
                    "Ve",
                    "Sa"
                ],
                monthNames: [
                    "Gennaio",
                    "Febbraio",
                    "Marzo",
                    "Aprile",
                    "Maggio",
                    "Giugno",
                    "Luglio",
                    "Agosto",
                    "Settembre",
                    "Ottobre",
                    "Novembre",
                    "Dicembre"
                ],
                firstDay: 1
            }
        }
    );
});
</script>

<style>

  .form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
  @media (max-width: 800px) {

    .form-inline {
      flex-direction: column;
      align-items: stretch;
    }
  }
</style>
