{% extends 'base.html' %}
{% load static %}
{% load filters %}
{% block title %}<title>TelNet</title>{% endblock %}
{% block import %}
<script src="{% static 'global_assets/js/plugins/forms/styling/switchery.min.js' %}"></script>
<script src="{% static 'global_assets/js/demo_pages/task_manager_grid.js' %}"></script>
<script src="{% static 'global_assets/js/plugins/ui/moment/moment.min.js' %}"></script>
<script src="{% static 'global_assets/js/plugins/pickers/daterangepicker.js' %}"></script>
{% endblock %}

{% block content %}


{% include 'search_notes.html' %}


<div class="row">

  				<!-- Inner container -->
  				<div class="d-flex align-items-start flex-column flex-md-row" style="width: 100%">

  					<!-- Left content -->
  					<div class="w-100 order-2 order-md-1">

  						<!-- Task grid -->
              <div class="row">
              {% for item in notes %}

                    {% include 'note_preview.html' with note=item %}

                  {% if forloop.counter|divisibleby:2 %}
              </div>
              <div class="row">
                  {% endif %}
              {% endfor %}
              </div>

  						<!-- /task grid -->


  					</div>
  					<!-- /left content -->


  				</div>
  				<!-- /inner container -->



</div>


<script>

  $(function() {

    $("#daterange").daterangepicker(
        {
            startDate: "{{ start_date }}",
            endDate: "{{ end_date }}",
            locale: {
                format: "DD/MM/YYYY",
                separator: " - ",
                applyLabel: "Applica",
                cancelLabel: "Cancella",
                fromLabel: "Da",
                toLabel: "A",
                customRangeLabel: "Custom",
                daysOfWeek: [
                    "Do",
                    "Lu",
                    "Ma",
                    "Me",
                    "Gi",
                    "Ve",
                    "Sa"
                ],
                monthNames: [
                    "Gennaio",
                    "Febbraio",
                    "Marzo",
                    "Aprile",
                    "Maggio",
                    "Giugno",
                    "Luglio",
                    "Agosto",
                    "Settembre",
                    "Ottobre",
                    "Novembre",
                    "Dicembre"
                ],
                firstDay: 1
            }
        }
    );
});
</script>

{% endblock %}
