{% extends 'base.html' %}
{% load static %}
{% load filters %}
{% block title %}<title>TelNet</title>{% endblock %}
{% block import %}
<script src="{% static 'global_assets/js/plugins/ui/moment/moment.min.js' %}"></script>
<script src="{% static 'global_assets/js/plugins/pickers/daterangepicker.js' %}"></script>
<script src="{% static 'global_assets/js/plugins/notifications/jgrowl.min.js' %}"></script>
<script src="{% static 'global_assets/js/plugins/notifications/noty.min.js' %}"></script>

<script src="{% static 'global_assets/js/plugins/editors/ckeditor/ckeditor.js' %}"></script>
<script src="{% static 'global_assets/js/plugins/forms/selects/select2.min.js' %}"></script>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col">

            <div class="card">

              <div class="card-header header-elements-inline bg-dark">
								<h6 class="card-title font-weight-semibold"></h6>
							</div>
							<ul class="media-list media-list-linked media-list-bordered">
								<li class="media bg-light py-2">
                  <span style="float: left;"><span class="font-weight-semibold">DATA: &nbsp;</span>{{ note.created_at }} </span>
                </li>
							</ul>

              <ul class="media-list media-list-linked media-list-bordered">
                <li class="media bg-light py-2">
                  <span style="float: left;"><span class="font-weight-semibold">CREATO DA: &nbsp;</span>{{ form.created_by|addclass:'form-control' }} </span>
                </li>
              </ul>

              <ul class="media-list media-list-linked media-list-bordered">
                <li class="media bg-light py-2">
                  <span style="float: left;"><span class="font-weight-semibold">ASSEGNATO A: &nbsp;</span>{{ form.assigned_to|addclass:'form-control' }} </span>
                </li>
              </ul>

                            <ul class="media-list media-list-linked media-list-bordered">
                <li class="media bg-light py-2">
                  <span style="float: left;"><span class="font-weight-semibold">DATA INIZIO RIFERIMENTO: &nbsp;</span><input type="text" class="form-control daterange-single" id="start_date"></span>
                </li>
              </ul>

              <ul class="media-list media-list-linked media-list-bordered">
                <li class="media bg-light py-2">
                  <span style="float: left;"><span class="font-weight-semibold">DATA FINE RIFERIMENTO: &nbsp;</span><input type="text" class="form-control daterange-single" id="end_date"> </span>
                </li>
              </ul>

              <ul class="media-list media-list-linked media-list-bordered">
                <li class="media bg-light py-2">
                  <span class="font-weight-semibold">NOTA: &nbsp;</span>
                </li>
              </ul>
              {{ form.note|addid:'editor-full' }}
              <div style="display: flex;"> 
              <button class="btn btn-primary" id="note-submit" style="margin: 16px 8px 16px 16px;"> Salva </button>
							<button class="btn btn-danger" style="margin: 16px 16px 16px 8px;" data-toggle="modal" data-target="#modal_theme_danger"> Elimina </button>
              </div>

            </div>

				<!-- /linked list headers -->

				</div>
				<!-- /linked list headers -->

</div>



<div id="modal_theme_danger" class="modal fade" tabindex="-1">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header bg-danger">
								<h6 class="modal-title">Attenzione</h6>
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>

							<div class="modal-body">
								<h6 class="font-weight-semibold">Stai per eliminare una nota</h6>
							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-link" data-dismiss="modal">Torna indietro</button>
								<button type="button" class="btn bg-danger" id="delete">Conferma</button>
							</div>
						</div>
					</div>
				</div>
<script>


  $('#note-submit').click( function(){
    console.log("aoo")
    assigned_to = $('#id_assigned_to option:selected').val();
    note = CKEDITOR.instances['editor-full'].getData();
    start_date = $('#start_date').val()
    end_date = $('#end_date').val()
    created_by = $('#id_created_by option:selected').val();
    Noty.overrideDefaults({
            theme: 'limitless',
            layout: 'topRight',
            type: 'alert',
            timeout: 2500
        });
    
    if($('#id_start_date').val() == "" || $('#id_end_date').val() == "" || $('#id_assigned_to').val() == "" ){
        console.log("error!");
        new Noty({
                text: 'Completa tutti i campi prima di inserire una nota',
                type: 'warning'
            }).show();
    }
    else{
        $.ajax({
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            type: "POST",
            url: "/save-mod-note",
            data: {'assigned_to': assigned_to, 'note': note, 'user':{{request.user.id}}, 'start_date': start_date, 'end_date': end_date, 'created_by': created_by, 'id': {{ note.pk }}},
            success: function(data){
                console.log('success');
                console.log('sì');
                new Noty({
                  text: 'Nota salvata con successo',
                  type: 'success'
                }).show();
                console.log('noss');
            },
            failure: function(data){
                console.log("FAIL");
                console.log(data);
            },
        });
    }
  });
  
	$('#delete').click(
	function(){
		console.log('bella');
		$.ajax({
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            type: "POST",
            url: "/delete-note",
            data: {'pk': {{ note.pk }}, 'user':{{ request.user.id }} },
            success: function(data){
                console.log('success');
								location.href = '/lista-note';
            },
            failure: function(data){
                console.log("FAIL");
                console.log(data);
            },
        });
	}
	)

     $('#start_date').daterangepicker({ 
            singleDatePicker: true,
            startDate: "{{ start_date }}",
            locale: {
                format: "DD/MM/YYYY",
                separator: " - ",
                applyLabel: "Applica",
                cancelLabel: "Cancella",
                customRangeLabel: "Custom",
                daysOfWeek: [
                    "Do",
                    "Lu",
                    "Ma",
                    "Me",
                    "Gi",
                    "Ve",
                    "Sa"
                ],
                monthNames: [
                    "Gennaio",
                    "Febbraio",
                    "Marzo",
                    "Aprile",
                    "Maggio",
                    "Giugno",
                    "Luglio",
                    "Agosto",
                    "Settembre",
                    "Ottobre",
                    "Novembre",
                    "Dicembre"
                ],
                firstDay: 1
            }
        });


     $('#end_date').daterangepicker({ 
            singleDatePicker: true,
            startDate: "{{ end_date }}",
            locale: {
                format: "DD/MM/YYYY",
                separator: " - ",
                applyLabel: "Applica",
                cancelLabel: "Cancella",
                customRangeLabel: "Custom",
                daysOfWeek: [
                    "Do",
                    "Lu",
                    "Ma",
                    "Me",
                    "Gi",
                    "Ve",
                    "Sa"
                ],
                monthNames: [
                    "Gennaio",
                    "Febbraio",
                    "Marzo",
                    "Aprile",
                    "Maggio",
                    "Giugno",
                    "Luglio",
                    "Agosto",
                    "Settembre",
                    "Ottobre",
                    "Novembre",
                    "Dicembre"
                ],
                firstDay: 1
            }
        });


	</script>



<script>
var CKEditor = function() {
    var _componentCKEditor = function() {
        
        if (typeof CKEDITOR == 'undefined') {
            console.warn('Warning - ckeditor.js is not loaded.');
            return;
        }
        CKEDITOR.replace('editor-full', {
            height: 200
        });
        CKEDITOR.config.language = 'it';
        CKEDITOR.config.toolbar = [
            ['Bold','Italic','Underline','StrikeThrough','-','Undo','Redo','-','Cut','Copy','Paste'],
            [ 'Styles', 'Format', 'Font', 'FontSize' ]
        ];            
    };  
    var _componentSelect2 = function() {
        if (!$().select2) {
            console.warn('Warning - select2.min.js is not loaded.');
            return;
        };
        $('.form-control-select2').select2({
            minimumResultsForSearch: Infinity
        });
    };
    return {
        init: function() {
            _componentCKEditor();
            _componentSelect2();
        }
    }
}();
document.addEventListener('DOMContentLoaded', function() {
    CKEditor.init();
    
});



</script>

{% endblock %}
