{% extends 'base.html' %}
{% load static %}
{% block title %}<title>TelNet | {{ title }}</title>{% endblock %}
{% load filters %}
{% block import %}

<script src="{% static 'global_assets/js/plugins/ui/moment/moment.min.js' %}"></script>
<script src="{% static 'global_assets/js/plugins/pickers/daterangepicker.js' %}"></script>

<script src="{% static 'global_assets/js/plugins/extensions/jquery_ui/widgets.min.js' %}"></script>
<script src="{% static 'global_assets/js/plugins/tables/datatables/datatables.min.js' %}"></script>
<script src="{% static 'global_assets/js/plugins/tables/datatables/extensions/natural_sort.js' %}"></script>
<script src="{% static 'global_assets/js/plugins/forms/selects/select2.min.js' %}"></script>
<script src="{% static 'global_assets/js/plugins/notifications/jgrowl.min.js' %}"></script>
<script src="{% static 'global_assets/js/plugins/notifications/noty.min.js' %}"></script>

<script src="{% static 'global_assets/js/plugins/visualization/echarts/echarts.min.js' %}"></script>
<script src="{% static 'js/pie.js' %}"></script>


<script src="{% static 'global_assets/js/plugins/editors/ckeditor/ckeditor.js' %}"></script>
<script src="{% static 'global_assets/js/plugins/forms/selects/select2.min.js' %}"></script>

<script src="{% static 'global_assets/js/plugins/visualization/d3/d3.min.js' %}"></script>
<script src="{% static 'global_assets/js/plugins/visualization/d3/d3_tooltip.js' %}"></script>

{% endblock %}

{% block content %}

<!-- Filter toolbar -->
<div class="navbar navbar-expand-lg navbar-light navbar-component rounded" style="width: 100%;">
    <div class="text-center d-lg-none w-100">
        <button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse"
            data-target="#navbar-filter">
            <i class="icon-unfold mr-2"></i>
            Filtra ricerca
        </button>
    </div>

    <div class="navbar-collapse collapse" id="navbar-filter" style="padding: 20px 20px 20px 20px;">

        <form method="GET" action="{% url 'dashboard' %}" class="w-100 form-inline">

        <div class="input-group col-md-4 d-flex flex-column">
        <a><b>Data:</b></a>
        <div style="display: flex">
            <span class="input-group-prepend">
                <span class="input-group-text"><i class="icon-calendar22"></i></span>
            </span>
            <input id="daterange" name="date" type="text" class="form-control">
            <button id="search" class="bg-teal-400 btn-primary btn" type="submit" style="margin: 0px 0px 0px 0px"> Cerca </button>
        </div>
        </div>

        
        </form>

    </div>
</div>
<!-- /filter toolbar -->



	<!-- Simple statistics -->

				<div class="row">

                    <div class="col-sm-6 col-xl-3">
						<div class="card card-body bg-success-400 has-bg-image">
							<div class="media">
								<div class="media-body">
									<h3 class="mb-0">{{ ok }}</h3>
									<span class="text-uppercase font-size-xs">OK</span>
								</div>

								<div class="ml-3 align-self-center">
									<i class="icon-check icon-3x opacity-75"></i>
								</div>
							</div>
						</div>
					</div>




					<div class="col-sm-6 col-xl-3">
						<div class="card card-body bg-warning-400 has-bg-image">
							<div class="media">
								<div class="media-body">
									<h3 class="mb-0">{{ ko }}</h3>
									<span class="text-uppercase font-size-xs">KO</span>
								</div>

								<div class="ml-3 align-self-center">
									<i class="icon-close2 icon-3x opacity-75"></i>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-6 col-xl-3">
						<div class="card card-body bg-grey-400 has-bg-image">
							<div class="media">
								<div class="media-body">
									<h3 class="mb-0">{{ sospesi }}</h3>
									<span class="text-uppercase font-size-xs">SOSPESI</span>
								</div>

								<div class="ml-3 align-self-center">
									<i class="icon-hour-glass2 icon-3x opacity-75"></i>
								</div>
							</div>
						</div>
					</div>

					
					<div class="col-sm-6 col-xl-3">
						<div class="card card-body bg-danger-400 has-bg-image">
							<div class="media">
								<div class="media-body">
									<h3 class="mb-0">{{ annullati }}</h3>
									<span class="text-uppercase font-size-xs">ANNULLATI</span>
								</div>

								<div class="ml-3 align-self-center">
									<i class="icon-undo2 icon-3x opacity-75"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /simple statistics -->

<!-- Main charts -->
				<div class="row">
					<div class="col-xl-3 " id="pie">

						<!-- Traffic sources -->
						<div class="card h-100" style="padding: 0px 0px 0px 0px;">
							<div class="card-header header-elements-inline">
								<h6 class="card-title">Guadagno</h6>
                                
                            </div>  

                            <div class="card-body" style="margin: -40px 0px 0px 0px">
									<div class="chart has-fixed-height" id="pie_basic"></div>

							</div>

						</div>
						<!-- /traffic sources -->
                    </div>
                    <div class="col-xl-9">
                         <div class="card  h-100" style="padding: 10px 10px 0px 10px">
							<div class="card-header header-elements-inline">
								<h6 class="card-title">Report</h6>
							</div>  
                            

                            				<!-- Stacked clustered columns -->


                        <div class="chartWrapper">
                            <div class="chartAreaWrapper flex">
                                <canvas id="columns_clustered" height="400" width="{{ bars_width }}"></canvas>
                            </div>
                        </div>

				<!-- /stacked clustered columns -->
                            

                            
                        
                        </div>
                    </div>


                    </div>
                    <br>
                    <div class="row">

					<div class="col-xl-12">

						<!-- Sales stats -->
						<div class="card">
							<div class="card-header header-elements-inline">
								<h6 class="card-title">Note</h6>
							</div>

							<div class="card-body">
								<br>
                                <b>Assegnatario:</b>
                                {{ note_form.assigned_to|addclass:'form-control' }}
                                <br>
                                <b>Data inizio riferimento:</b>
                                <input type="text" class="form-control daterange-single" id="start_date">
                                <br>
                                <b>Data fine riferimento:</b>
                                <input type="text" class="form-control daterange-single" id="end_date">
                                <br>
                                {{ note_form.note|addid:'editor-full' }}
                                <br>
                                <div class="form-group row w-100 justify-content-end" style="margin: 0px 0px 0px 0px;">
			                    <div class="input-group col-md-4 justify-content-end" style="margin: 10px 0px 0px 0px;">
                                <br>
                                <button class="bg-teal-400 btn-primary btn" id="note-submit" style="margin: 10px 0px 0px 0px"> Crea nota </button>
                                </div>
                                </div>
							</div>
						</div>
						<!-- /sales stats -->

					</div>

    </div>


<div class="row">
<div class="col-xl-12" >
    <!-- Task manager table -->
    <div class="card">
      <div class="card-header bg-transparent header-elements-inline">
        <h6 class="card-title">Task manager</h6>
      </div>

      <table class="table table-striped table-bordered" id="datatable">
        <thead>
          <tr>
            <th>#</th>
            <th>TECNICO</th>
            <th>COD CENTRALE</th>
            <th>DESC CENTRALE</th>
            <th>WR</th>
            <th>TELEFONO</th>
            <th>NOMINATIVO</th>
            <th>ORA APPUNTAMENTO</th>
            <th>SCADENZA</th>
            <th>TIPO PRATICA</th>
            <th>STATUS</th>
            <th>PREZZO</th>
           </tr>
        </thead>
        <tbody>


            {% for item in tickets %}

                {% if item|get_class == 'MvmImport' %}
                  {% include 'ticket_dashboard_admin_mvm.html' with ticket=item %}
                {% endif %}

                {% if item|get_class == 'SielteImport' %}
                  {% include 'ticket_dashboard_admin_sielte.html' with ticket=item %}
                {% endif %}

            {% endfor %}

        </tbody>
      </table>
    </div>
    <!-- /task manager table -->

  <!-- /content area -->


</div>


<script>

        
var EchartsColumnsStackedClusteredLight = function() {

    var _columnsStackedClusteredLightExample = function() {
        if (typeof echarts == 'undefined') {
            console.warn('Warning - echarts.min.js is not loaded.');
            return;
        }

        var columns_clustered_element = document.getElementById('columns_clustered');

        if (columns_clustered_element) {

            // Initialize chart
            var columns_clustered = echarts.init(columns_clustered_element);


            //
            // Chart config
            //

            // Options
            columns_clustered.setOption({

                // Define colors
                color: ['#2ec7c9','#b6a2de','#5ab1ef','#ffb980','#d87a80'],

                // Global text styles
                textStyle: {
                    fontFamily: 'Roboto, Arial, Verdana, sans-serif',
                    fontSize: 13
                },

                // Chart animation duration
                animationDuration: 750,

                // Setup grid
                grid: {
                    left: 0,
                    right: 5,
                    top: 55,
                    bottom: 0,
                    containLabel: true,
                    height: 300,

                },

                // Add legend
                legend: {
                    type:'scroll',
                    
                    data: [
                        'Mvm','Sielte','Totale',
                    ],
                    itemHeight: 2,
                    itemGap: 8,
                    textStyle: {
                        padding: [0, 10]
                    }
                },

                // Add tooltip
                tooltip: {
                    trigger: 'axis',
                    backgroundColor: 'rgba(0,0,0,0.75)',
                    padding: [10, 15],
                    textStyle: {
                        fontSize: 13,
                        fontFamily: 'Roboto, sans-serif'
                    }
                },

                // Horizontal axis
                xAxis: [
                    {
                        type: 'category',
                        data: {{ names|safe }},
                        axisLabel: {
                            color: '#333'
                        },
                        axisLine: {
                            lineStyle: {
                                color: '#999'
                            }
                        },
                        splitLine: {
                            show: true,
                            lineStyle: {
                                color: '#eee',
                                type: 'dashed'
                            }
                        }
                    },
                    {
                        type: 'category',
                        axisLine: {show:false},
                        axisTick: {show:false},
                        axisLabel: {show:false},
                        splitArea: {show:false},
                        splitLine: {show:false},
                        data: {{ names|safe }},
                    }
                ],

                // Vertical axis
                yAxis: [{
                    type: 'value',
                    axisLabel: {
                        color: '#333',
                        formatter: '€ {value}'
                    },
                    axisLine: {
                        lineStyle: {
                            color: '#999'
                        }
                    },
                    splitLine: {
                        lineStyle: {
                            color: ['#eee']
                        }
                    },
                    splitArea: {
                        show: true,
                        areaStyle: {
                            color: ['rgba(250,250,250,0.1)', 'rgba(0,0,0,0.01)']
                        }
                    }
                }],

                // Add series
                series: [
                    {
                        name: 'Mvm',
                        type: 'bar',
                        z: 2,
                        itemStyle: {
                            normal: {
                                color: '#F44336',
                                label: {
                                    show: true,
                                    padding: 5,
                                    position: 'top',
                                    textStyle: {
                                        color: '#fff',
                                        fontSize: 12
                                    }
                                }
                            }
                        },
                        data: {{ series_mvm|safe }},
                    },
                    {
                        name: 'Sielte',
                        type: 'bar',
                        z: 2,
                        itemStyle: {
                            normal: {
                                color: '#4CAF50',
                                label: {
                                    show: true,
                                    padding: 5,
                                    position: 'top',
                                    textStyle: {
                                        color: '#fff',
                                        fontSize: 12
                                    }
                                }
                            }
                        },
                        data: {{ series_sielte|safe }},
                    },
                    {
                        name: 'Totale',
                        type: 'bar',
                        z: 2,
                        itemStyle: {
                            normal: {
                                color: '#2196F3',
                                label: {
                                    show: true,
                                    padding: 5,
                                    position: 'top',
                                    textStyle: {
                                        color:'#fff',
                                        fontSize: 12
                                    }
                                }
                            }
                        },
                        data: {{ series_total|safe }},
                    },
                ]
            });
        }


        //
        // Resize charts
        //

        // Resize function
        var triggerChartResize = function() {
            columns_clustered_element && columns_clustered.resize();
        };

        // On sidebar width change
        var sidebarToggle = document.querySelector('.sidebar-control');
        sidebarToggle && sidebarToggle.addEventListener('click', triggerChartResize);

        // On window resize
        var resizeCharts;
        window.addEventListener('resize', function() {
            clearTimeout(resizeCharts);
            resizeCharts = setTimeout(function () {
                triggerChartResize();
            }, 200);
        });
    };


    //
    // Return objects assigned to module
    //

    return {
        init: function() {
            _columnsStackedClusteredLightExample();
        }
    }
}();


// Initialize module
// ------------------------------

document.addEventListener('DOMContentLoaded', function() {
    EchartsColumnsStackedClusteredLight.init();
});


/*
$(window).resize(function() {
   EchartsColumnsStackedClusteredLight.init();
});
*/

</script>

<script>

	var TaskManagerList = function () {



	    var _componentDatatable = function() {
	        if (!$().DataTable) {
	            console.warn('Warning - datatables.min.js is not loaded.');
	            return;
	        }



	        // Initialize data table
	        $('#datatable').DataTable({
	            autoWidth: false,
							"scrollX": true,
	            columnDefs: [
	                {
	                    type: "natural",
	                    width: 20,
	                    targets: 0
	                },
	                {
	                    visible: true,
	                    targets: 1
	                },
	                {
	               //     width: '40%',
	                    targets: 2
	                },
	                {
	                    width: '10%',
	                    targets: 3
	                },
	                {
	                    orderDataType: 'dom-text',
	                    type: 'string',
	                    targets: 4
	                },
	                {
	                    orderDataType: 'dom-select',
	                    type: 'string',
	                    targets: 5
	                },
	                {
	                    width: 100,
	                    targets: 6
	                },
									{
                      orderable: false,
	                    orderDataType: 'dom-text',
	                    type: 'string',
	                    targets: 7
	                },
									{
                      orderable: false,
	                    orderDataType: 'dom-text',
	                    type: 'string',
	                    targets: 8
	                },
									{
	                    orderDataType: 'dom-text',
	                    type: 'string',
	                    targets: 9
	                },
									{
                      orderable: false,
											orderDataType: 'dom-text',
											type: 'string',
											targets: 10
									},


	            ],
	            order: [[ 0, 'desc' ]],
	            dom: '<"datatable-header"fl><"datatable-scroll-lg"t><"datatable-footer"ip>',
	            language: {
	                search: '<span>Filtra:</span> _INPUT_',
                    zeroRecords: 'Nessun dato disponibile',
                    searchPlaceholder: 'Cerca...',
	                paginate: { 'first': 'First', 'last': 'Last', 'next': $('html').attr('dir') == 'rtl' ? '&larr;' : '&rarr;', 'previous': $('html').attr('dir') == 'rtl' ? '&rarr;' : '&larr;' },
                    
                    decimal: "",
                    emptyTable: "Nesun dato disponibile",
                    info: "Da _START_ a _END_ di _TOTAL_ righe totali",
                    infoEmpty: "Da 0 a 0 di 0 righe totali",
                    infoFiltered: "(filtrate da _MAX_ righe totali)",
                    infoPostFix: "",
                    thousands: ",",
                    lengthMenu: "Mostra _MENU_ righe",
                    loadingRecords: "Caricamento...",
                    processing: "Processamento...",
                },
	            lengthMenu: [ 15, 25, 50, 75, 100 ],
	            displayLength: 25,
	            drawCallback: function (settings) {
	                var api = this.api();
	                var rows = api.rows({page:'current'}).nodes();
	                var last=null;

	                // Initialize components
	                _componentUiDatepicker();
	                _componentSelect2();
	            }
	        });
	    };

	    // Datepicker
	    var _componentUiDatepicker = function() {
	        if (!$().datepicker) {
	            console.warn('Warning - jQuery UI components are not loaded.');
	            return;
	        }

	        // Initialize
	        $('.datepicker').datepicker({
	            showOtherMonths: true,
	            dateFormat: 'd MM, y'
	        });
	    };

	    // Select2
	    var _componentSelect2 = function() {
	        if (!$().select2) {
	            console.warn('Warning - select2.min.js is not loaded.');
	            return;
	        }

	        // Initialize
	        $('.form-control-select2').select2({
	            minimumResultsForSearch: Infinity
	        });

	        // Length menu styling
	        $('.dataTables_length select').select2({
	            minimumResultsForSearch: Infinity,
	            dropdownAutoWidth: true,
	            width: 'auto'
	        });
	    };


	    //
	    // Return objects assigned to module
	    //

	    return {
	        init: function() {
	            _componentDatatable();
	            _componentSelect2();
	        }
	    }
	}();


	// Initialize module
	// ------------------------------

	document.addEventListener('DOMContentLoaded', function() {
	    TaskManagerList.init();
	});
</script>

<script>
  $('#start_date').daterangepicker({ 
            singleDatePicker: true,
            startDate: "{{ start_date }}",
            locale: {
                format: "DD/MM/YYYY",
                separator: " - ",
                applyLabel: "Applica",
                cancelLabel: "Cancella",
                customRangeLabel: "Custom",
                daysOfWeek: [
                    "Do",
                    "Lu",
                    "Ma",
                    "Me",
                    "Gi",
                    "Ve",
                    "Sa"
                ],
                monthNames: [
                    "Gennaio",
                    "Febbraio",
                    "Marzo",
                    "Aprile",
                    "Maggio",
                    "Giugno",
                    "Luglio",
                    "Agosto",
                    "Settembre",
                    "Ottobre",
                    "Novembre",
                    "Dicembre"
                ],
                firstDay: 1
            }
        });

       $('#end_date').daterangepicker({ 
            singleDatePicker: true,
            startDate: "{{ end_date }}",
            locale: {
                format: "DD/MM/YYYY",
                separator: " - ",
                applyLabel: "Applica",
                cancelLabel: "Cancella",
                customRangeLabel: "Custom",
                daysOfWeek: [
                    "Do",
                    "Lu",
                    "Ma",
                    "Me",
                    "Gi",
                    "Ve",
                    "Sa"
                ],
                monthNames: [
                    "Gennaio",
                    "Febbraio",
                    "Marzo",
                    "Aprile",
                    "Maggio",
                    "Giugno",
                    "Luglio",
                    "Agosto",
                    "Settembre",
                    "Ottobre",
                    "Novembre",
                    "Dicembre"
                ],
                firstDay: 1
            }
        });



  $(function() {

    $("#daterange").daterangepicker(
        {
            startDate: "{{ start_date }}",
            endDate: "{{ end_date }}",
            locale: {
                format: "DD/MM/YYYY",
                separator: " - ",
                applyLabel: "Applica",
                cancelLabel: "Cancella",
                fromLabel: "Da",
                toLabel: "A",
                customRangeLabel: "Custom",
                daysOfWeek: [
                    "Do",
                    "Lu",
                    "Ma",
                    "Me",
                    "Gi",
                    "Ve",
                    "Sa"
                ],
                monthNames: [
                    "Gennaio",
                    "Febbraio",
                    "Marzo",
                    "Aprile",
                    "Maggio",
                    "Giugno",
                    "Luglio",
                    "Agosto",
                    "Settembre",
                    "Ottobre",
                    "Novembre",
                    "Dicembre"
                ],
                firstDay: 1
            }
        }
    );
});

var Pie = function(options) {
    if (typeof echarts == 'undefined') {
        console.warn('Warning - echarts.min.js is not loaded.');
        return;
    }
    var pie_basic_element = document.getElementById('pie_basic');
    opts = {

        color: [
            '#68ACB4', '#81C784'
        ],
        textStyle: {
            fontFamily: 'Roboto, Arial, Verdana, sans-serif',
            fontSize: 13
        },
        tooltip: {
            trigger: 'item',
            backgroundColor: 'rgba(0,0,0,0.75)',
            padding: [0, 0],
            textStyle: {
                fontSize: 13,
                fontFamily: 'Roboto, sans-serif'
            },
            formatter: "{a} <br/>{b}: {c} ({d}%)"
        },
        legend: {
            orient: 'vertical',
            top: 'center',
            left: 0,
            data: ['Mvm', 'Sielte',],
            itemHeight: 8,
            itemWidth: 8
        },
        series: [{
            name: 'guadagno',
            type: 'pie',
            radius: '60%',
            center: ['50%', '57.5%'],
            itemStyle: {
                normal: {
                    borderWidth: 1,
                    borderColor: '#fff'
                }
            },
            data: [ {value: {{ tot_mvm}}, name: 'Mvm'}, 
            {value: {{ tot_sielte }}, name: 'Sielte'} ],
                    }]
    }

    if (pie_basic_element) {
        var pie_basic = echarts.init(pie_basic_element);
        pie_basic.setOption(opts);
    }
    var triggerChartResize = function() {
        pie_basic_element && pie_basic.resize();
    };
    var sidebarToggle = document.querySelector('.sidebar-control');
    sidebarToggle && sidebarToggle.addEventListener('click', triggerChartResize);
    var resizeCharts;
    window.addEventListener('resize', function() {
        clearTimeout(resizeCharts);
        resizeCharts = setTimeout(function () {
            triggerChartResize();
        }, 200);
    });
};

$(function(){
    Pie();
    // Bar();
})

</script>


<script>
var CKEditor = function() {
    var _componentCKEditor = function() {
        
        if (typeof CKEDITOR == 'undefined') {
            console.warn('Warning - ckeditor.js is not loaded.');
            return;
        }
        CKEDITOR.replace('editor-full', {
            height: 200
        });
        CKEDITOR.config.language = 'it';
        CKEDITOR.config.toolbar = [
            ['Bold','Italic','Underline','StrikeThrough',] ,['Undo','Redo','-'],
            [ 'Styles', 'Format', 'Font', 'FontSize' ]
        ];            
    };  
    var _componentSelect2 = function() {
        if (!$().select2) {
            console.warn('Warning - select2.min.js is not loaded.');
            return;
        };
        $('.form-control-select2').select2({
            minimumResultsForSearch: Infinity
        });
    };
    return {
        init: function() {
            _componentCKEditor();
            _componentSelect2();
        }
    }
}();
document.addEventListener('DOMContentLoaded', function() {
    CKEditor.init();
    
});



  $('#note-submit').click( function(){
    assigned_to = $('#id_assigned_to option:selected').text();
    note = CKEDITOR.instances['editor-full'].getData();
    console.log(CKEDITOR.instances['editor-full'].getData());
    start_date = $('#start_date').val()
    end_date = $('#end_date').val()
    Noty.overrideDefaults({
            theme: 'limitless',
            layout: 'topRight',
            type: 'alert',
            timeout: 2500
        });
    
    if($('#id_start_date').val() == "" || $('#id_end_date').val() == "" || $('#id_assigned_to').val() == "" ){
        console.log("error!");
        new Noty({
                text: 'Completa tutti i campi prima di inserire una nota',
                type: 'warning'
            }).show();
    }
    else{
        $.ajax({
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            type: "POST",
            url: "/save-note",
            data: {'assigned_to': assigned_to, 'note': note, 'user':{{request.user.id}}, 'start_date': start_date, 'end_date': end_date},
            success: function(data){
                console.log('success');
                $('#id_assigned_to option:contains("----")').prop('selected',true);
                $('#id_note').val('');
                new Noty({
                text: 'Nota salvata con successo',
                type: 'success'
            }).show();
            },
            failure: function(data){
                console.log("FAIL");
                console.log(data);
            },
        });
    }
  });

</script>


<style>
a.cke_button{
    background-color: white;
}

@media (max-width: 800px) {

    .content{
      padding: 0px; !important
    }


    #datatable_filter {
      text-align: left;
    }

    #datatable_length {
        text-align: left;
        display: flex;
    }
    
    .row{
      margin: 0px;
    }

    #pie{
        margin-bottom: 20px;
    }

  }

  .echart-wrap {
        display: inline-block;
        width: 400px;
        height: 400px;
        overflow: scroll;
        border: 1px solid black;
      }

      .chartWrapper {
    position: relative;
}

.chartWrapper > canvas {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events:none;
}

.chartAreaWrapper {
    width: 100%%;
    overflow-x: scroll;
}
</style>

{% endblock %}